.sidebar {
}
#three{
    background-color: blue;
}

.scene{
    border: solid 1px;
}

.object {
    margin: 5px;
}

.color {

}

.drag {
    opacity: 0.8;
}

.over {
    border: solid 1px;
}

.canvas {
    height: 100%;
    width: 100%;
    border: solid 1px black;
}

.userX {
    color: white !important;
}